body {
    
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}

h1,
h2,
h3 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

#img-header {

    z-index: 5;
    float: left;
    position: fixed;
    top: 5px;
    left: 25px;
}

.img-header {

    z-index: 5;
    float: left;
    position: fixed;
    top: 1px;
    left: 20px;
}

.titulo-principal1 {
    background-color: #000000;
    width: 100%;
    height: 25px;
    position: fixed;
    left: 0px;        
    border-bottom: 3px solid black; 
    padding: 13px;  
    z-index: 4;
}

#carouselExampleIndicators {

    z-index: 2;
}

.cabecalho-titulo {

    
    text-transform: uppercase;
    font-size: 25px;   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 0;
    
}

#index {

    color: white;
}

#Bronze {

    color: rgb(224, 123, 21);
}

#espectros {

    color: rgb(94, 1, 138);
}

#asgard {

    color: rgb(7, 204, 0);
}

#marinas {

    color: rgb(255, 147, 7);
}

#ouro {

    color: #FFD700;
}

.titulo-principal2 {
    background-color: #000000;
    width: 100%;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 39px;
    clear: both;
    text-align: center;
    color: #FFF;
    border-bottom: 2px solid black;
    font-size: 19px;
    padding: 7px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    margin-top: 0;
}

style {
    text-decoration: none;
}

nav {
    background-color: #000000;
    width: 100%;
    clear: both;
    color: #FFF;
    border-bottom: 3px solid black;
    font-size: 19px;
    padding: 13px;
    display: inline-block;
}

ul {
    text-align: center;
    color: #FFF;
}

.titulo-secundario {
    text-align: justify;
    margin: 0px;
    font-size: 30px;
    height: 50px;
}

.titulo-Inicial {
    text-transform: uppercase;
    font-size: 48px;
    height: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cavaleiro-bronze {
    font-size: 35px;
    height: 40px;
    color: rgb(224, 123, 21);
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.cavaleiro-asgard {
    font-size: 35px;
    height: 40px;
    color: rgb(10, 248, 2);
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.cavaleiro-espectro {
    font-size: 35px;
    height: 40px;
    color: rgb(94, 1, 138);
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.cavaleiro-marina {
    font-size: 35px;
    height: 40px;
    color: rgb(255, 147, 7);
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.cavaleiro-ouro {
    font-size: 35px;
    height: 40px;
    color: #FFD700;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.p1::first-letter {

    font-size: 200%;
}

#notp1::first-letter {

    font-size: 17px;
}

#notp1 {

    position: relative;
    top: 20px;
}

.descrição {
    float: right;
    height: 320px;
    width: 400px;
    font-size: 19px;
    padding: 8px;
    background-color: #D9E5E3;
    border: 10px solid;    
    box-sizing: border-box;
    transition: 1s;
}

.descrição1 {
    float: right;
    height: 340px;
    width: 400px;
    font-size: 19px;
    padding: 8px;
    background-color: #D9E5E3;
    border: 10px solid;
    border-color: rgb(7, 204, 0);
    box-sizing: border-box;
    transition: 1s;
}

.descri {
    float: right;
    width: 400px;
    font-size: 19px;
    height: 300px;
    padding: 8px;
    background-color: #D9E5E3;
    border: 10px solid gold;
    box-sizing: border-box
}

.ciclo {

    height: 360px;
}

#Bronze2 {

    border-color: rgb(224, 123, 21);
}

#asgard2 {

    border-color: rgb(7, 204, 0);
}

#espectros2 {

    border-color: rgb(56, 2, 82);
}

#marinas2 {

    border-color: rgb(255, 147, 7);
}

#ouro2 {

    border: 10px solid gold;
}

.descrição:hover,
.descrição1:hover,
.descri:hover {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
    rotate: (-5deg);
}

h3 {
    font-size: 30px;
    padding: 6px;
    height: 24px;
    color: black;
}

p {
    font-family: Arial;
    font-size: 17px;
    padding: 9px;
    border: 50px;
    text-align: justify;
}

.p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    width: 900px;
    text-align: justify;
    margin: 5rem;
    height: 25px;
}

.p1Espectros {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    width: 900px;
    text-align: justify;
    margin: 3rem;
    margin-top: 1rem;
    height: 15px;
}

#p1 {

    height: 10px;
}

.p2 {
    text-align: center;
}

#BronzeP2 {

    height: 430px;
}

#ouroP2 {

    height: 410px;
}

#asgardP2 {

    height: 470px;
    transition: 1s;
}

#marinasP2 {

    height: 510px;
}

#espectrosP2 {

    height: 460px;
}

.p3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 620px;
    font-size: 20px;
    padding: 9px;
    border: 50px;
    text-align: justify;
}

main {
    background-color: rgb(157, 170, 211, 0.6);
    width: 1100px;
    height: 90%;
    max-height: 30%;
    line-height: 120%;
    margin: 10%;
    border-bottom: 10px solid transparent;
    margin: auto;
    padding: 25px;
    clear: both;    
}

.IndexMain {

    margin-bottom: 50px;
}

main div {
    height: 90%;
    padding: 10px;
}

strong {
    font-weight: bold;
}

.rodape-pagina {
    background-color: rgb(18, 2, 78);
    color: #F2FFFC;
    padding: 5px;
    clear: both;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

#rodape-pagina {
    background-color: rgb(18, 2, 78);
    color: #F2FFFC;
    padding: 5px;
    clear: both;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
}

.github {
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}

.indexP {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    width: 920px;
    text-align: justify;
    margin-left: 4rem;
    height: 100px;
}

.indexP::first-letter {

    font-size: 200%;
}

.indexFoooter {

    height: 80px;
    position: relative;
    bottom: -50px;
}

.link-box {

    cursor: pointer;
    background-color: #000000;
    width: 150px;
    height: 30px;
    position: relative;
    left: -182px;
    top: 40px;
}

#link-box {

    background-color: #000000;
    width: 150px;
    height: 50px;
    position: relative;
    left: -182px;
    top: 43px;
}

.link-Text {

    font-family: 'Baumans', cursive;
    color: white;
    text-align: center;
    text-indent: -9999999;
    position: relative;
    bottom: 10px;
}

#link-Text {

    font-family: 'Baumans', cursive;
    color: white;
    text-align: center;
    text-indent: -9999999;
}

#rodape-text {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: start;
    width: 330px;
    height: 75px;
    margin-bottom: 0;
    position: relative;
    left: 73%;
    bottom: 73px;
}

.rodape-text {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: start;
    width: 330px;
    height: 67px;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    left: 73%;
    bottom: 65px;
}

footer ul {

    width: 40px;
    margin-bottom: 0;
    position: relative;
    left: 45%;
}

.quemMain {

    height: 775px;
}

.CotMain {

    height: 1050px;
}

.imgs {

    height: auto;
    width: auto;
}

.divs {

    width: 350px;
    height: 350px;
}

.div1 {

    background-image: url(../img/Luis.jpeg);
    float: left;
    border-radius: 200px;
}

.div2 {

    background-image: url(../img/Hitalo.jpeg);
    border-radius: 200px;
    float: right;
}

.pL {

    float: left;
    height: 200px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 19px;
    padding: 8px;
    background-color: #7a7e7d;
    border: 10px solid;
    border-color: #FFD700;
    box-sizing: border-box;
    transition: 1s;    
}

.pH {

    float: right;
    height: 200px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 19px;
    padding: 8px;
    background-color: #7a7e7d;
    border: 10px solid;
    border-color: #000000;
    box-sizing: border-box;
    transition: 1s; 
}

.pL:hover,
.pH:hover {

    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
    rotate: (-5deg);
}

.link-l {

    position: relative;
    top: 25px;
    left: 145px;
}

legend {

    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 0px;
    font-size: 40px;
    height: 30px;
    width: 95%;
}

.subLegend {

    font-size: 25px;
}

.legend-principal {

    padding: 0;
    border-bottom: #000000 solid 1px;
}

#DadosP {

    width: 95%;
    height: 175px;
    position: relative;
    top: 20px;
    border: #000000 solid 2px;
    border-radius: 10px;
}

label {

    font-size: 19px;
    position: relative;
    top: 15px;
}

input {

    font-size: 15px;
}

#DadosP input {

    position: relative;
    top: 15px;
}

.Genero {

    width: 95%;
    height: 75px;
    position: relative;
    top: 50px;
    border: #000000 solid 2px;
    border-radius: 10px;
}

.G {

    position: relative;
    top: 10px;
}

.Cidade {

    width: 95%;
    height: 115px;
    position: relative;
    top: 80px;
    border: #000000 solid 2px;
    border-radius: 10px;
}

.C {

    position: relative;
    top: 10px;
}

select {

    position: relative;
    top: 15px;
    font-size: 15px;
}

#msg {

    position: relative;
    top: 100px;
}

.motiv {

    width: 95%;
    height: 200px;
    position: relative;
    top: 120px;
    border: #000000 solid 2px;
    border-radius: 10px;
}

.button {

    position: relative;
    top: 100px;
    
}

form button {

    color: white;
    width: 100px;
    height: 50px;
    background-color: blue;
    border-left: #000000 solid 5px;
    border-bottom: #000000 solid 5px;
    position: relative;
    top: 35px;
}